@media (max-width: 1880px) {
  .about__content {
    flex-direction: column;
    align-items: center;
  }

  .about__dark {
    padding: 50px 50px;
  }

  .about__col:first-child {
    width: 924px;
    background-image: url("../img/about/man_1024.jpg");
    min-height: 640px;
    background-size: cover;
  }

  .about__article {
    min-width: 924px;
  }

  .work__image {
    background-position: left 50px bottom -10px;
  }
}

@media (max-width: 1650px) {
  .banner__slide {
    padding: 160px 77px;
  }

  .banner__slide--1 {
    background-image: url("../img/slider/1_1024.jpg");
  }

  .slider__title {
    font-size: 60px;
    line-height: 73px;
    max-width: 770px;
    margin-bottom: 16px;
  }

  .slider__description {
    font-size: 20px;
    line-height: 24px;
    max-width: 660px;
    margin-bottom: 60px;
  }


}
@media (max-width: 1457px) {
  .work__wrap {
    justify-content: space-between;
  }

  .work__paragraph {
    min-width: 437px;
  }

  .work__title {
    margin-bottom: 49px;
  }

  .work__buttons {
    margin-bottom: 52px;
  }

  .work__arcticle {
    margin-right: 0;
  }

  .work__description {
    margin-bottom: 7px;
  }

  .work__paragraph {
    max-width: 437px;
    margin-bottom: 24px;
  }

  .work__image {
    min-width: 437px;
    background-image: url("../img/work/1_1024.jpg");
    height: 709px;
    background-size: 437px 689px;
    background-position: right;
  }
}

@media (max-width: 1450px) {
  .footer__paragraph {
    display: none;
  }
}

@media (max-width: 1200px) {
  .section-slider {
    margin-bottom: 80px;
  }

  .sections:not(:last-child) {
    margin-bottom: 80px;
  }

  .header__logo {
    background-image: url("../img/header/logo_adaptive.png");
    background-position: center;
    margin-right: 17px;
  }

  .header__burger {
    display: inline-block;
    background-image: url("../img/header/burger.svg");
    background-repeat: no-repeat;
    height: 33px;
    width: 40px;
    border: none;
    background-color: transparent;
    transition-property: background-image;
    transition-duration: .2s;
    margin-top: 9px;
  }

  .header__burger:hover {

  }

  .header__burger:focus {
    outline: 2px solid var(--font-color-orange);
  }

  .header__burger:active {
    outline: none;
    background-image: url("../img/header/burger_active.svg");
  }

  .nav__list {
    display: none;
  }
  /* Slider */

  /* About */
  .about__title {
    margin-bottom: 9px;
  }

  .about__description {
    margin-bottom: 63px;
  }

  .about__article {
    min-width: 924px;
    padding: 63px 117px 63px 316px;
    background-position: left 76px center;
  }

  /* Questions */

  .questions__title {
    margin-bottom: 32px;
  }

  .questions__link {
    font-size: 20px;
    max-width: 756px;
  }

  .questions__item:nth-child(odd) .questions__link{
    padding-top: 39px;
    padding-bottom: 39px;
  }

  .questions__item:nth-child(even) .questions__link {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  /* Footer */
  .footer .container {
    padding: 0 49px
  }

  .footer__container{
    justify-content: flex-start;
  }

  .footer__center {
    margin-left: 133px;
  }

  .footer__title {
    margin-bottom: 25px;
  }

  .footer__input:not(:last-child) {
    width: 541px;
    height: 61px;
  }
  .footer__input:last-child {
    width: 541px;
  }

  .footer__btn {
    width: 240px;
    padding: 18px 37px;
    margin-right: 19px;
  }
}

@media (max-width: 1074px) {
  /* About */

}

@media (max-width: 1024px) {
  .container {
    max-width: 1024px;
    padding: 0 50px;
  }

  .about__content {
    align-items: flex-start;
  }

  .sections:nth-child(3) {
    margin-bottom: 71px;
  }

  .section-slider {
    height: 670px;
  }
}

@media (max-width: 1000px) {
  .about__col:first-child {
    background-image: url("../img/about/man_768.jpg");
    background-size: 668px 650px;
    width: 668px;
    min-height: 650px;
  }

  .about__description {
    margin-bottom: 60px;
  }

  .about__col__description {
    max-width: 366px;
  }

  .about__dark {
    padding: 34px 40px;
  }

  .about__article {
    min-width: 668px;
    padding: 34px 44px 33px 169px;
    background-position: left 38px bottom 67px;
    min-height: 235px;
  }

  .about__article:nth-child(1) {
    background-image: url("../img/about/2_768.svg");
  }

  .about__article:nth-child(2) {
    background-image: url("../img/about/3_768.svg");
  }


  .footer {
    padding: 0;
  }

  .footer__container {
    flex-direction: column-reverse;
  }

  .footer .container {
    padding: 52px 50px;
  }

  .footer__list {
    display: none;
  }

  .footer__center {
    margin-left: 0;
  }
}

@media (max-width: 900px) {
  .banner__slide--1 {
    background-image: url("../img/slider/1_768.jpg");
  }

  .section-slider {
    height: 663px;
  }

  .slider__title {
    font-size: 50px;
    line-height: 61px;
  }

  .banner__slide {
    padding: 160px 40px;
    min-height: 662px;
  }

  .slider__description {
    font-size: 18px;
    line-height: 22px;
  }

  .questions__item:nth-child(odd) .questions__link{
    padding: 0;
  }

  .questions__item:nth-child(even) .questions__link {
    padding: 0;
  }

  .questions__link {
    max-width: 570px;
  }
  .questions__item:first-child .questions__link {
    padding: 39px 0;
  }

  .questions__item:not(:first-child) .questions__link {
    padding: 30px 0;
  }

  .questions__item:nth-child(3), .questions__item:nth-child(5) {
    background-position: right bottom 43px;
  }
}

@media (max-width: 768px) {
  .header {
    max-height: 69px;
  }

  .header__logo {
    margin-top: -2px;
    margin-bottom: 0;
  }

  .header__burger {
    margin-top: 5px;
  }

  .nav__search {
    margin-bottom: 4px;
  }
  /* Slider */


  /* About */



  /* Work */

  .work__item:not(:last-child) {
    margin-right: 155px;
  }

  .work__wrap {
    flex-direction: column-reverse;
  }

  .work__buttons {
    margin-bottom: 50px;
  }

  .work__image {
    background-image: url("../img/work/1_768.jpg");
    background-position: 0 0;
    background-size: 668px 284px;
    height: 284px;
    margin-bottom: 38px;
  }

  .work__description {
    margin-bottom: 9px;
  }

  .work__paragraph {
    max-width: 667px;
  }

  /* Questions */

  .sections:nth-child(3) {
    margin-bottom: 80px;
  }

  /* Footer */
  .footer__title {
    margin-bottom: 23px;
  }

  .footer__logo {
    margin-bottom: 13px;
  }

  .footer__center {
    margin-bottom: 50px;
  }

  .footer__input:not(:last-child) {
    margin-bottom: 23px;
  }

  .footer__input {
    margin-bottom: 36px;
  }

  .footer__input:last-child {
    padding: 24px 24px;
  }
}


@media (max-width: 765px) {
  .work__item:not(:last-child) {
    margin-right: 44px;
  }
}

@media (max-width: 730px) {
  .banner__slide {
    padding: 60px 22px;
    text-align: center;
  }

  .banner__slide--1 {
    background-image: url("../img/slider/1_320.jpg");
    min-height: 308px;
  }

  .slider__title {
    font-size: 20px;
    line-height: 24px;
    max-width: 247px;
    margin-bottom: 7px;
  }

  .slider__description {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 32px;
  }

  .slider__btn {
    font-size: 12px;
    line-height: 15px;
    padding: 13px 28px;
  }

  .about__title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
  }

  .about__description {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 13px;
  }

  .about__content {
    gap: 30px;
  }

  .about__col:first-child {
    background-image: url("../img/about/man_320.jpg");
    background-size: 290px 200px;
    width: 290px;
    min-height: 200px;
    display: inline-block;
    padding-top: 209px;
  }

  .about__dark {
    background: none;
    padding: 0;
    display: inline-block;
  }

  .about__col__description {
    font-size: 14px;
    line-height: 28px;
    color: #333;
    font-weight: normal;
    margin-bottom: 10px;
    max-width: 290px;
  }

  .about__button {
    max-width: 162px;
    color: #FF9900;
    max-height: 40px;
    font-size: 12px;
    line-height: 15px;
    padding-top: 2px;
    border: 2px solid var(--font-color-orange);
  }

  .about__article {
    border: none;
    background-position: top left;
    padding: 0;
    padding-top: 63px;
  }

  .about__article:nth-child(1) {
    background-image: url("../img/about/2_320.svg");
    background-position: left top 3px;
  }

  .about__article:nth-child(2) {
    background-image: url("../img/about/3_320.svg");
    padding-top: 60px;
  }

  .about__article:not(:last-child) {
    margin-bottom: 32px;
  }
  .about__arcticle__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    max-width: 290px;
    margin-bottom: -4px;
  }

  .about__arcticle_paragraph {
    font-size: 14px;
    line-height: 28px;
    max-width: 290px;
  }

  .questions__title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 16px;
  }

  .questions__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    max-width: 243px;
  }

  .questions__item {
    background-size: 30px 30px;
  }

  .questions__item:first-child .questions__link {
    padding: 30px 0;
  }

  .questions__item .questions__link:nth-child(even) {
    max-width: 260px;
  }

}

@media (max-width: 600px) {
  .footer .container {
    padding: 32px 14px
  }

  .footer__title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 21px;
  }

  .footer__input {
    font-size: 14px;
    line-height: 32px;
    margin-bottom: 0;
  }

  .footer__input:not(:last-child) {
    width: 290px;
    height: 60px;
    margin-bottom: 24px;
    padding: 8px 0 10px 21px;
  }

  .footer__input:first-child {
    padding:  12px 0 20px 21px;
  }

  .footer__input:last-child {
    width: 290px;
    height: 150px;
    padding: 15px 21px;
  }

  .footer__inputs {
    margin-bottom: 27px;
  }

  .footer__checkbox {
    border-bottom: 1px solid #595959;
    padding-bottom: 16px;
    width: 291px;
  }

  .footer__btn {
    width: 180px;
    font-size: 12px;
    line-height: 15px;
    display: block;
    padding: 12px 23px 13px 24px;
    margin-left: 56px;
    margin-bottom: 11px;
  }

  .footer__input__checkbox {
    margin-left: 7px;
  }

  .footer__img {
    width: 131px;
    height: 42px;
  }

  .footer__social {
    background-size: 40px 40px;
  }

  .footer__item:not(:last-child) {
    margin-right: 0;
  }

  .footer__center{
    margin-bottom: 16px;
  }

  .footer__links {
    margin-left: 28px;
  }
}

@media (max-width: 530px) {
  .work__title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 22px;
  }

  .section-slider {
    height: 308px;
}
}

@media (max-width: 320px) {
  .container {
    padding: 0 15px;
    max-width: 320px;
  }

  .sections:not(:last-child) {
    margin-bottom: 60px;
  }

  .header__burger {
    margin-top: 4px;
  }

  .header__logo {
    background-image: url("../img/header/logo_320.svg");
    margin-bottom: 2px;
  }

  .work__buttons {
    margin-bottom: 13px;
  }

  .work__item:not(:last-child) {
    margin-right: 44px;
  }

  .work__swipe {
    font-size: 14px;
    line-height: 17px;
  }

  .work__image {
    background-image: url("../img/work/1_320.jpg");
    background-size: 290px 160px;
    margin-bottom: 16px;
    height: 160px;
  }

  .work__description {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
  }

  .work__paragraph {
    font-size: 14px;
    line-height: 28px;
    min-width: 290px;
    margin-bottom: 16px;
  }

  .work__btn {
    max-width: 162px;
    min-height: 40px;
    font-size: 12px;
    line-height: 15px;
    padding: 2px 43px 5px 45px;
    margin-right: 5px;
  }

  .work__button {
    font-size: 12px;
    line-height: 15px;
    width: 118px;
    padding: 10px 0 12px 2px;
  }

  /* Questions */
  .questions__list .questions__item::nth-child(4) {
    max-width: 250px;
  }

  .questions__list .questions__item::nth-child(5) {
    max-width: 250px;
  }

  .footer__links {
    justify-content: center;
  }

  .footer__left {
    text-align: center;
  }
}
