@font-face {
    font-family: 'Muller';
    src: local('Muller-Regular'),
    url('../fonts/MullerRegularItalic.woff2') format('woff2'),
    url('../fonts/MullerRegularItalic.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller-Regular'),
    url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller-Medium'),
    url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Muller';
    src: local('Muller-Bold'),
    url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller-Light'),
    url('../fonts/MullerLight.woff2') format('woff2'),
    url('../fonts/MullerLight.woff') format('woff');
    font-display: swap;
    font-weight: 200;
    font-style: normal;
}

:root {
    --border-color: #E6E8EC;
    --primary: #6D31EE;
    --white: #FFF;
    --primary-shade: #4F28A5;
    --primary-light: #AA9DFA;
    --text-gray: #A1A6B4;
    --shade-grey: #D2D5DD;
    --black: #121723;
    --light-black: #292E39;
    --red: #FF6F6F;
    --promo-color: #F0D288;
    --promo-color-shade: #BB973E;
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Muller", sans-serif;
    background-color: var(--white);
    color: var(--black)
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    transition: background-color, color 0.2s ease-in-out;
}

a {
    display: inline-block;
    text-decoration: none;
    color: var(--black)
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

p {
    margin: 0;
}

svg path {
    transition: all .2s linear;
}

.container {
    margin: 0 auto;
    max-width: 1110px;
    /*padding: 0 75px;*/
}

/*======== Header-top ========*/

.header-top {
    border-bottom: 1px solid var(--border-color);
}

.header-top__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 18px;
    padding-bottom: 18px;
}

.header-top__logo {
    background-image: url("../img/header-top/logo_1920.svg");
    width: 160px;
    height: 20px;
    background-size: cover;
}

.header-top__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1px;
}

.header-top__btn {
    display: none;
}

.header-top__list {
    display: flex;
    margin-right: 82px;
    margin-top: 1px;
}

.header-top__item {
    font-size: 20px;
    line-height: 20px;
}

.header-top__item:not(:last-child) {
    margin-right: 58px;
}

.header-top__item:first-child {
    margin-right: 60px;
}

.header__link {
    transition: color 0.2s ease-in-out;
}

.header__link:hover {
    color: var(--primary)
}

.header__link:focus {
    color: var(--white);
    background-color: var(--primary-light);
}

.header__link:active {
    color: var(--primary-shade);
    background-color: transparent;
}

.header-top__buttons {

}

.header-top__btn-search {
    width: 24px;
    height: 24px;
}

.header-top__btn-search:hover svg path{
    stroke: var(--primary-light)
}

.header-top__btn-search:focus svg path{
    stroke: var(--primary-light)
}

.header-top__btn-search:active svg path{
    stroke: var(--primary-shade)
}

.header-top__btn-enter {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    border: 2px solid #121723;
    border-radius: 77px;
    padding: 11px 31.5px;
    margin-left: 23px;
}

.header-top__btn-enter:hover {
    background-color: var(--black);
    color: var(--white)
}

.header-top__btn-enter:focus {
    background-color: var(--primary-light);
    color: var(--black)
}

.header-top__btn-enter:active {
    background-color: var(--primary-shade);
    color: var(--white)
}

    /*======== Header-bottom ========*/

.header-bottom {
    border-bottom: 1px solid var(--border-color);
}

.header-bottom__container {
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
}

.header-bottom__nav {

}

.header-bottom__list {
    display: flex;
    padding: 11px 0;
    border-right: 1px solid var(--border-color);
}

.header-bottom__item {
    margin-right: 53px;
}

.header-bottom__item:nth-child(4) {
    margin-right: 51px;
}

.header-bottom__music {
    display: flex;
    align-items: center;
    border-right: 1px solid var(--border-color);
    padding: 3px 48px 3px 10px;
}

.music__play {
    display: inline-block;
    width: 24px;
    height: 24px;
}

.music__play:hover svg path {
    fill: var(--primary);
}

.music__play:focus svg path {
    fill: var(--primary-light);
}

.music__play:active svg path {
    fill: var(--primary-shade)
}

.music__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5px;
}

.music__description {
    font-size: 12px;
    line-height: 12px;
    color: #A1A6B4;
    margin-bottom: 5px;
    padding-left: 3px;
}

.music__title {
    margin-top: 1px;
    padding-right: 4px;
    font-size: 16px;
    line-height: 16px;
    color: #121723;
}

.music-second {
    padding-right: 42px;
}

.header-bottom__age-limit {
    background-image: url("../img/header-bottom/age.svg");
    width: 46px;
    height: 60px;
    margin-left: 52px;
}

/*======== Hero ========*/

.hero {
    background-color: var(--white);
}

.hero__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 37px;
    padding-bottom: 41px;
}

.hero__right {
    padding-top: 5px;
}

.hero__title {
    font-weight: bold;
    font-size: 60px;
    line-height: 100%;
    margin-top: 0;
    margin-bottom: 13px;
}

.hero__title-cur {
    font-weight: normal;
    font-style: italic;
}

.hero__description {
    margin-bottom: 46px;
    font-size: 16px;
    line-height: 150%;
    max-width: 607px;
}

.hero__description-link {
    color: var(--primary);
    cursor: pointer;
    transition: color, box-shadow 0.2s ease-in-out;
}

.hero__description-link:hover {
    box-shadow: 0 1px 0 var(--primary);
}

.hero__description-link:focus {
    background-color: var(--primary-light);
    color: var(--white);
}

.hero__description-link:active {
    box-shadow: 0 1px 0 var(--primary-shade);
    color: var(--primary-shade)
}

.hero__btn {
    border-radius: 40px;
    border: none;
    background-color: var(--primary);
    color: var(--white);
    padding: 25px 54px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    transition: background-color 0.2s ease-in-out;
}

.hero__btn:hover {
    background-color: var(--primary-light);
}

.hero__btn:focus {
    outline: 2px solid var(--primary-shade);
    background-color: var(--primary-light);
}

.hero__btn:active {
    background-color: var(--primary-shade);
    outline: none;
}

.hero__microphone {
    display: inline-block;
    background-image: url("../img/hero/microphone.svg");
    background-repeat: no-repeat;
    width: 350px;
    height: 372px;
}

/*======== Hero ========*/

.podcast {
    background-color: #F2F2F2;
}

.podcast__container {
    padding: 94px 0;
    text-align: center;
}

.podcast__title {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: normal;
    font-size: 48px;
    line-height: 100%;
    text-align: left;
}

.podcast__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 60px;
    text-align: left;
}

.podcast__item {
    display: flex;
    background-color: var(--white);
    width: 540px;
}

.podcast-item__image {

}

.podcast-item__right {
    width: 398px;
}

.podcast-item__text {
    display: flex;
    flex-direction: column;
}

.podcast-item__top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
    width: 100%;
    padding-left: 30px;
    padding-top: 24px;
}

.podcast-item__time {
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 8px;
    width: fit-content;
}

.podcast-item__title {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 4px;
}

.podcast-item__description {
    font-size: 16px;
    line-height: 16px;
    color: var(--text-gray);
    padding-bottom: 24px;
}

.podcast-item__play-btn {
    width: 42px;
    height: 42px;
    margin-right: 36px;
    margin-top: 6px;
}

.podcast-item__play-btn:hover svg path {
    fill: var(--primary);
}

.podcast-item__play-btn:hover svg circle {
    stroke: var(--primary);
}

.podcast-item__play-btn:focus svg path {
    fill: var(--primary-light);
}

.podcast-item__play-btn:focus svg circle {
    stroke: var(--primary-light);
}

.podcast-item__play-btn:active svg path {
    fill: var(--primary-shade);
}

.podcast-item__play-btn:active svg circle {
    stroke: var(--primary-shade);
}

.podcast-item__bottom {
    padding-top: 8px;
    padding-left: 30px;
}

.podcast-item__btn {
    color: var(--text-gray);
}

.podcast-item__btn:hover {
    color: var(--primary);
}

.podcast-item__btn:focus {
    background-color: var(--primary-light);
    color: var(--white);
}

.podcast-item__btn:active {
    color: var(--primary-shade);
    background-color: transparent;
}

.podcast-item__btn:hover svg path {
    fill: var(--primary);
}

.podcast-item__btn:focus svg path {
    fill: var(--white);
}

.podcast-item__btn:active svg path {
    color: var(--primary-shade);
    fill: var(--primary-shade);
}


.podcast-item__btn:not(:last-child) {
    margin-right: 26px;
}

.podcast-item__btn svg {
    margin-right: 2px;
}

.podcast__button {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: var(--primary);
    border-radius: 40px;
    border: 2px solid var(--primary);
    padding: 23px 52px;

}

.podcast__button:hover {
    background-color: var(--primary);
    color: var(--white);
}

.podcast__button:focus {
    background-color: var(--primary-light);
}

.podcast__button:active {
    background-color: var(--primary-shade);
}




