* {
  box-sizing: border-box;
}

@font-face {
	font-family: 'Muller';
	src: local('Muller-Regular'),
		url('../fonts/MullerRegular.woff2') format('woff2'),
		url('../fonts/MullerRegular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: local('Muller-Medium'),
		url('../fonts/MullerMedium.woff2') format('woff2'),
		url('../fonts/MullerMedium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}


@font-face {
	font-family: 'Muller';
	src: local('Muller-Bold'),
		url('../fonts/MullerBold.woff2') format('woff2'),
		url('../fonts/MullerBold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: local('Muller-Light'),
		url('../fonts/MullerLight.woff2') format('woff2'),
		url('../fonts/MullerLight.woff') format('woff');
	font-display: swap;
	font-weight: 200;
	font-style: normal;
}

html {
  font-family: 'Muller', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}
.body {
  background-color: #E5E5E5;
}

.container {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

.container:not(:last-child) {
  margin-bottom: 70px;
}

/* Header */
.header {
  height: 200px;
}

.header-top {
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: space-around;
}

.header-bottom {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header-logo-img {
  margin-right: 40px;
}

.header-logo-personal {
  align-items: flex-end;
  background-image: url("../img/header/arrow_for_personal.svg");
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 28px;
}

.nav {
  flex-grow: 1;
}

.nav-item-link {

}

.header-phone {
  margin-right: 550px;
}

.nav-list {
  display: flex;
}

.nav-item:not(:nth-child(1)) {
  margin-left: 45px;
}

.header-buttons {
  margin-left: 114px;
  text-align: right;
}

.btn {

}

/* Section special */
.section-special {

}

.sec-title {
  margin-bottom: 25px;
}

.section-special-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-special-left {

}

.right {
  margin-right: 375px;
}

.section-special-article {

}

.third-title {

}

.section-special-item-paragraph {

}

.section-special-item-link {

}

/* Section-info */
.section-info {

}

.section-info-paragraph {

}

/* Section-service */
.section-service {

}

.section-service-list {
  /* font-size: 0; */
}

.section-service-item {
  display: inline-block;
  width: 573px;
}

.section-service-item-link {

}

.section-service-item-paragraph {

}

/* Section advantages */
.section-advantages {

}

.section-advantages-list {

}

.section-advantages-item {

}

.section-advantages-paragraph {

}


/* Section accomodation */
.section-accommodation {

}

.section-accommodation-list {

}

.section-accommodation-item {

}

.section-accommodation-item-list {

}

.section-accomodation-item-list {

}

.section-accommodation-item-link {

}

.section-accomodation-item-text {

}

