* {
  box-sizing: border-box;
}

@font-face {
	font-family: 'Muller';
	src: local('Muller-Regular'),
		url('../fonts/MullerRegular.woff2') format('woff2'),
		url('../fonts/MullerRegular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: local('Muller-Medium'),
		url('../fonts/MullerMedium.woff2') format('woff2'),
		url('../fonts/MullerMedium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}


@font-face {
	font-family: 'Muller';
	src: local('Muller-Bold'),
		url('../fonts/MullerBold.woff2') format('woff2'),
		url('../fonts/MullerBold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: local('Muller-Light'),
		url('../fonts/MullerLight.woff2') format('woff2'),
		url('../fonts/MullerLight.woff') format('woff');
	font-display: swap;
	font-weight: 200;
	font-style: normal;
}

html {
  font-family: 'Muller', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

section:not(:last-child) {
  margin-bottom: 70px;
}

.body {
  background-color: #E5E5E5;
}

.container {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  /* margin-bottom: 70px; */
}

/* Header */
.header {
  height: 200px;
}

.header-top {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.header-logo-img {
  margin-right: 40px;
  font-size: 0;
}

.header-logo-personal {
  background-image: url("../img/header/arrow_for_personal.svg");
  background-position: left top 1px;
  background-repeat: no-repeat;
  padding-left: 28px;
  margin-left: auto;
  color: #CC9933;
}

.header-bottom {
  display: flex;
  align-items: center;
  max-height: 70px;
  padding: 10px 45px;
  background-color: white;
  border-radius: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-item-link {

}

.header-phone {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #666666;
}

.nav-list {
  display: flex;

}

.nav-item {
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 16px;
  max-height: 50px;
}

.nav-item:last-child {
  padding-right: 56px;
  border-right: 1px solid #E1E1E1;
}

.nav-item:not(:last-child) {
  margin-right: 45px;
}

.header-buttons {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
  border: 1px solid #CC9933;
  border-radius: 15px;
  padding: 13px 20px;
  background-color: transparent;
}

.first-btn {
  margin-right: 40px;
}

/* Section special */
.section-special {

}

.section-special-title {
  margin-bottom: 20px;
}

.sec-title {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  margin-left: 40px;
}

.section-special-main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section-special-left {
  display: flex;
  flex-direction: column;
}

.section-special-article {
  min-height: 258px;
  min-width: 573px;
  padding: 40px;
}

.section-special-article:nth-child(1) {
  background-image: url("../img/special/1.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  margin-bottom: 23px;
}

.section-special-article:nth-child(2) {
  background-image: url("../img/special/2.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.section-special-article-right {
  min-width: 573px;
  min-height: 540px;
  padding: 40px;
  background-image: url("../img/special/3.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.third-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #FFFFFF;
  max-width: 299px;
  margin: 0;
}

.thrid {
  padding-top: 171px;
  font-size: 60px;
  line-height: 60px;
}

.section-special-item-paragraph {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.8;
  margin-bottom: 47px;
}

.right-paragraph {
  font-size: 30px;
  line-height: 30px;
}

.section-special-item-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #FFCC66;
  padding-right: 17px;
  background-image: url("../img/special/arrow.svg");
  background-repeat: no-repeat;
  background-position: right center;
}

/* Section-info */
.section-info {

}

.section-info-title{
  margin-bottom: 11px;
}

.section-info-paragraph {
  font-size: 16px;
  line-height: 32px;
  max-width: 888px;
}

/* Section-service */
.section-service {

}

.section-service-title {
  margin-bottom: 20px;
}

.section-service-list {
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-service-item {
  width: 572px;
  min-height: 330px;
  padding-top: 191px;
  padding-left: 45px;
  background-color: white;
  border-radius: 15px;
}

.section-service-item:nth-child(1) {
  width: 573px;
  margin-bottom: 23px;
  background-image: url("../img/service/1.png");
  background-repeat: no-repeat;
}

.section-service-item:nth-child(2) {
  margin-bottom: 23px;
  background-image: url("../img/service/2.png");
  background-repeat: no-repeat;
}

.section-service-item:nth-child(3) {
  background-image: url("../img/service/2.png");
  background-repeat: no-repeat;
}

.section-service-item:nth-child(4) {
  background-image: url("../img/service/4.png");
  background-repeat: no-repeat;
}

.section-service-item-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  color: #CC9933;
  padding-right: 17px;
  background-image: url("../img/service/arrow.svg");
  background-repeat: no-repeat;
  background-position: right center;
}

.section-service-item-paragraph {
  width: 402px;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
  padding-bottom: 50px;
  margin: 0;
}

/* Section advantages */
.section-advantages {

}

.section-advantages-title {
  margin-bottom: 30px;
}

.section-advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0  auto;
}

.section-advantages-item {
  width: 275px;
  min-height: 275px;
  background-color: white;
  border-radius: 15px;
  padding: 116px 45px 31px;
}

.section-advantages-item:not(:nth-child(4n)) {
  margin-right: 23px;
}

.section-advantages-item:nth-child(1) {
  margin-bottom: 23px;
  background-image: url("../img/advantages/bathtub.svg");
  background-repeat: no-repeat;
  background-position: left 45px top 40px;
}

.section-advantages-item:nth-child(2) {
  margin-bottom: 23px;
  background-image: url("../img/advantages/hanger.svg");
  background-repeat: no-repeat;
  background-position: left 45px top 40px;
}

.section-advantages-item:nth-child(3) {
  margin-bottom: 23px;
  background-image: url("../img/advantages/heating.svg");
  background-repeat: no-repeat;
  background-position: left 45px top 40px;
}

.section-advantages-item:nth-child(4) {
  margin-bottom: 23px;
  background-image: url("../img/advantages/hotel-key.svg");
  background-repeat: no-repeat;
  background-position: left 45px top 40px;
}

.section-advantages-item:nth-child(5) {
  background-image: url("../img/advantages/parking.svg");
  background-repeat: no-repeat;
  background-position: left 45px top 40px;
}

.section-advantages-item:nth-child(6) {
  background-image: url("../img/advantages/reception.svg");
  background-repeat: no-repeat;
  background-position: left 45px top 40px;
}

.section-advantages-item:nth-child(7) {
  background-image: url("../img/advantages/security-box.svg");
  background-repeat: no-repeat;
  background-position: left 45px top 40px;
}

.section-advantages-item:nth-child(8) {
  background-image: url("../img/advantages/swimming-pool.svg");
  background-repeat: no-repeat;
  background-position: left 45px top 40px;
}

.section-advantages-paragraph {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}


/* Section accomodation */
.section-accommodation {

}

.section-accommodation-title {
  margin-bottom: 30px;
}

.section-accommodation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0  auto;
}

.section-accommodation-item {
  min-height: 440px;
  width: 374px;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 23px;

}

.section-accommodation-item:not(:last-child) {
  padding-bottom: 41px;
}

.section-accommodation-item:not(:nth-child(3n)) {
  margin-right: 23px;
}

.section-accommodation-item:last-child {
  background-image: url("../img/accomodations/9.png");
  background-size: cover;
}

.section-accommodation-item-list {
  padding-left: 45px;
  padding-top: 36px;
}


.section-accomodation-item-title {

}

.section-accommodation-item-link {
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #FFFFFF;
  padding-left: 54px;
  margin-top: 373px;
  padding-bottom: 27px;
  padding-right: 17px;
  background-image: url("../img/accomodations/arrow.svg");
  background-repeat: no-repeat;
  background-position: right top 10px;
}

.section-accomodation-item-text {
  font-size: 16px;
  line-height: 16px;
}

.section-accommodation-price {
  margin-right: 45px;
}

.place {
  color: #999999;
}

.price {
  font-size: 20px;
  line-height: 20px;
}
