@media (max-width: 1024px) {
  section {
    margin-bottom: 80px;
  }

  .container {
    max-width: 1024px;
    padding: 0 50px;
  }

  .header__left {

  }

  .header__burger {
    display: inline-block;
    background-image: url("../img/header/burger.svg");
    background-repeat: no-repeat;
    height: 33px;
    width: 40px;
    border: none;
    background-color: transparent;
    transition-property: background-image;
    transition-duration: .2s;
  }

  .header__burger:hover {

  }

  .header__burger:focus {
    outline: 2px solid var(--font-color-orange);
  }

  .header__burger:active {
    outline: none;
    background-image: url("../img/header/burger_active.svg");
  }

  .header__logo {
    margin: 26px auto;
    background-image: url("../img/header/logo_adaptive.png");
    width: 100%;
  }

  .nav__list {
    display: none;
  }

  /* Slider */
  .banner__slide {
    padding: 160px 77px;
  }

  .slider__title {
    font-size: 60px;
    line-height: 73px;
  }

  .slider__description {
    font-size: 20px;
    line-height: 24px;
    max-width: 660px;
    margin-bottom: 60px;
  }

  /* About */

  .about__article {
    min-width: 924px;
  }

  .about__content {
    flex-direction: column;
  }

  .about__dark {
    padding: 38px 40px;
  }

  /* Work */

  .work__article {
    margin-right: 50px;
  }

  .work__paragraph {
    max-width: 437px;
  }

  .work__image {
    width: 437px;
  }

  /* Questions */

  .questions__title {
    margin-bottom: 32px;
  }

  .questions__link {
    font-size: 20px;
  }

  /* Footer */

  .footer__paragraph {
    display: none;
  }

  .footer__center {
    margin-left: 133px;

  }
}
