@media (max-width: 1880px) {
  .about__content {
    flex-direction: column;
  }

  .about__dark {
    padding: 50px 50px;
  }

  .about__col:first-child {
    max-width: 924px;
    background-image: url("../img/about/man_1024.jpg");
    height: 640px;
  }

  .about__article {
    min-width: 924px;
  }
}

@media (max-width: 1650px) {
  .banner__slide {
    padding: 160px 77px;
  }

  .banner__slide--1 {
    background-image: url("../img/slider/1_1024.jpg");
  }

  .slider__title {
    font-size: 60px;
    line-height: 73px;
    min-width: 770px;
    margin-bottom: 16px;
  }

  .slider__description {
    font-size: 20px;
    line-height: 24px;
    max-width: 660px;
    margin-bottom: 60px;
  }
}

@media (max-width: 1450px) {
  .footer__paragraph {
    display: none;
  }
}

@media (max-width: 1200px) {
  .section-slider {
    margin-bottom: 80px;
  }

  .sections:not(:last-child) {
    margin-bottom: 80px;
  }

  .header__logo {
    background-image: url("../img/header/logo_adaptive.png");
    background-position: center;
    margin-right: 17px;
  }

  .header__burger {
    display: inline-block;
    background-image: url("../img/header/burger.svg");
    background-repeat: no-repeat;
    height: 33px;
    width: 40px;
    border: none;
    background-color: transparent;
    transition-property: background-image;
    transition-duration: .2s;
    margin-top: 9px;
  }

  .header__burger:hover {

  }

  .header__burger:focus {
    outline: 2px solid var(--font-color-orange);
  }

  .header__burger:active {
    outline: none;
    background-image: url("../img/header/burger_active.svg");
  }

  .nav__list {
    display: none;
  }
  /* Slider */

  /* About */
  .about__title {
    margin-bottom: 9px;
  }

  .about__description {
    margin-bottom: 63px;
  }

  .about__article {
    min-width: 924px;
    padding: 63px 117px 63px 316px;
    background-position: left 76px center;
  }
    /* Work */

  .work__title {
    margin-bottom: 49px;
  }

  .work__buttons {
    margin-bottom: 52px;
  }

  .work__arcticle {
    margin-right: 0;
  }

  .work__description {
    margin-bottom: 7px;
  }

  .work__paragraph {
    max-width: 437px;
    margin-bottom: 24px;
  }

  .work__image {
    width: 437px;
    background-image: url("../img/work/1_1024.jpg");
    height: 689px;
    background-position: left 50px bottom -10px;
  }

  /* Questions */

  .questions__title {
    margin-bottom: 32px;
  }

  .questions__link {
    font-size: 20px;
    width: 756px;
  }

  .questions__item:nth-child(odd) .questions__link{
    padding-top: 39px;
    padding-bottom: 39px;
  }

  .questions__item:nth-child(even) .questions__link {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  /* Footer */
  .footer .container {
    padding: 0 49px
  }

  .footer__container{
    justify-content: flex-start;
  }

  .footer__center {
    margin-left: 133px;
  }

  .footer__title {
    margin-bottom: 25px;
  }

  .footer__input:not(:last-child) {
    width: 541px;
    height: 61px;
  }
  .footer__input:last-child {
    width: 541px;
  }

  .footer__btn {
    width: 240px;
    padding: 18px 37px;
    margin-right: 19px;
  }
}

@media (max-width: 1074px) {
  /* About */
  .about__col:first-child {
    background-image: url("../img/about/man_768.jpg");
    background-size: 668px 650px;
    min-width: 640px;
    min-height: 641px;
  }

  .about__description {
    margin-bottom: 60px;
  }

  .about__col__description {
    max-width: 366px;
  }

  .about__dark {
    padding: 34px 40px;
  }

  .about__article {
    min-width: 668px;
    padding: 34px 44px 33px 169px;
    background-position: left 38px bottom 67px;
    min-height: 235px;
  }

  .about__article:nth-child(1) {
    background-image: url("../img/about/2_768.svg");
  }

  .about__article:nth-child(2) {
    background-image: url("../img/about/3_768.svg");
  }

}

@media (max-width: 1024px) {
  .container {
    max-width: 1024px;
    padding: 0 50px;
  }
}

@media (max-width: 1000px) {
  .footer {
    padding: 0;
  }

  .footer__container {
    flex-direction: column-reverse;
  }

  .footer .container {
    padding: 53px 50px;
  }

  .footer__list {
    display: none;
  }

  .footer__center {
    margin-left: 0;
  }
}

@media (max-width: 900px) {
  .banner__slide--1 {
    background-image: url("../img/slider/1_768.jpg");
  }

  .slider__title {
    font-size: 50px;
    line-height: 61px;

  }

  .banner__slide {
    padding: 160px 40px;
    min-height: 662px;
  }

  .slider__description {
    font-size: 18px;
    line-height: 22px;
  }

  /* .about__col:first-child {
    background-image: url("../img/about/man_768.jpg");
    background-size: 668px 650px;
    min-width: 640px;
    min-height: 641px;
  }

  .about__description {
    margin-bottom: 60px;
  }

  .about__col__description {
    max-width: 366px;
  }

  .about__dark {
    padding: 34px 40px;
  }

  .about__article {
    min-width: 668px;
    padding: 34px 44px 33px 169px;
    background-position: left 38px bottom 67px;
    min-height: 235px;
  }

  .about__article:nth-child(1) {
    background-image: url("../img/about/2_768.svg");
  }

  .about__article:nth-child(2) {
    background-image: url("../img/about/3_768.svg");
  } */
}

@media (max-width: 768px) {
  .header {
    max-height: 69px;
  }

  .header__logo {
    margin-top: -2px;
    margin-bottom: 0;
  }

  .header__burger {
    margin-top: 5px;
  }

  .nav__search {
    margin-bottom: 4px;
  }
  /* Slider */



  /* Work */

  .work__item:not(:last-child) {
    margin-right: 155px;
  }

  .work__wrap {
    flex-direction: column-reverse;
  }

  .work__buttons {
    margin-bottom: 50px;
  }

  .work__image {
    background-image: url("../img/work/1_768.jpg");
    background-position: 0 0;
    background-size: 668px 284px;
    height: 284px;
    margin-bottom: 38px;
  }

  .work__description {
    margin-bottom: 8px;
  }

  .work__paragraph {
    max-width: 667px;
  }

  /* Questions */

  .questions__item:nth-child(odd) .questions__link{
    padding: 0;
  }

  .questions__item:nth-child(even) .questions__link {
    padding: 0;
  }

  .questions__link {
    max-width: 570px;
  }
  .questions__item:first-child .questions__link {
    padding: 39px 0;
  }

  .questions__item:not(:first-child) .questions__link {
    padding: 30px 0;
  }

  /* Footer */
  .footer__title {
    margin-bottom: 22px;
  }

  .footer__logo {
    margin-bottom: 13px;
  }

  .footer__center {
    margin-bottom: 50px;
  }

  .footer__input:not(:last-child) {
    margin-bottom: 23px;
  }

  .footer__input {
    margin-bottom: 36px;
  }

  .footer__input:last-child {
    padding: 24px 24px;
  }
}
